<h2><%= @story.title %></h2>
<h3>By <%= @story.by_line%></h3>

<main>
  <p><%= @story.story_text %></p>
</main>
<aside>
 <% if logged_in?%>
  <% if @story.user == current_user%>
    <a href="/story/<%= @story.id %>/edit">Edit Story</a>
    <% @edits.each do |edit| %>
      <div class="edit">
        <p><%= edit.user.username %> says:</p>
        <p><%= edit.edit_text %></p>
      </div>
    <% end %>
  <% else %>
    <p>The author of this story would like to say:</p>
    <p><%= @story.editor_instructions %></p>
    <form class="" action="/edit/<%= @story.id %>" method="post">
      <label for="edit_text">What would you like to suggest to the author?</label>
      <textarea name="edit_text" id="edit_text" rows="8" cols="40"></textarea>
      <button>Send</button>
    </form>
  <% end %>
 <% else %>
   <form action="/session" method="post">
     <label for="username-main">Username:</label>
     <input type="text" name="username" id="username-main">

     <label for="password-main">Password:</label>
     <input name="password" type="password" id="password-main">

     <button>Log in</button>
   </form>
 <% end %>
</aside>
